@page
@model TicketManagementApp.Pages.Ticket.ReviewTicketsModel
@{
}

<form method="post">
    <table border="1" width="100%">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Description</th>
                <th>Assignee</th>
                <th>ReviewDate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ViewModels.Count; i++)
            {
                <tr>
                    <td>
                        <label>@Model.ViewModels[i].Subject</label>
                    </td>
                    <td>
                        <label>@Model.ViewModels[i].Description</label>
                    </td>
                    <td>
                        <label>@Model.ViewModels[i].Assignee</label>
                    </td>
                    <td>
                        <label>@Model.ViewModels[i].ReviewDate</label>
                    </td>
                    <td>
                        <input type="submit" asp-page-handler="CloseTicket" asp-route-index="@i" value="Close Ticket" />
                        <input type="hidden" asp-for="TicketIds[i]" value="@Model.ViewModels[i].Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>


</form>
